@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== colours ========= */
:root {
  --body-color: #e4e9f7;
  --nav-color: #198754;
  --text-color: #fff;
  --red-price: #ee4d2d;
}

body {
  background-color: var(--body-color);
}

nav {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 9999;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.content {
  padding-top: 70px;
}
.content .catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.catalog .headerText {
  text-align: center;
  margin-top: 15px;
  padding: 40px 0;
  color: #198754;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card {
  height: 400px !important;
  border: 2px solid #19875446 !important;
  transition: all 0.2s;
}

.card:hover {
  transform: scaleX(1.02) scaleY(1.02) !important;
  border: 2px solid #198754cb !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-body .price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--red-price);
}

.card img {
  width: auto;
  padding: 10px 20px 0 20px;
  height: 250px;
  align-items: center;
  display: block;
  margin: auto;
}

.btn {
  width: 70%;
}

/* Popup */
.modalContainer {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  pointer-events: none;
  z-index: 999;
  transition: all 0.4s 0.1s;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all -1s;
}
.modalBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 700px;
  max-width: 100%;
  transform: scale(0.2);
  opacity: 0;
  transition: all 0.5s 0.1s;
}
.modalContainer.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: auto;
}

.modalContainer.show .modalBody {
  opacity: 1;
  transform: scale(1);
}

.modalBody img {
  width: 60%;
  height: 330px;
  max-width: 80%;
  margin-right: 10px;
}

.modalBody h6 {
  font-family: "Poppins", sans-serif;
}
.modalBody .titleProduct {
  color: #198754;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1px;
}
.modalBody .productDescription {
  font-size: 0.7rem;
  text-align: justify;
}

.modalBody .price {
  color: var(--red-price);
}

.credit {
  padding-top: 70px;
  text-align: center;
}
.credit p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
.credit a {
  color: #000;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 678px) {
  .modalBody {
    justify-content: center;
    flex-direction: column;
  }
  .modalBody img {
    width: 100%;
    margin: auto;
  }
}
